:root {
    --component-color: #eceff4;
    --bg-color: #d8dee9;
    --clickable-color: #5e81ac;
    --clickable-color-hover: #81a1c1;
    --text-dark: #2e3440;
    --text-subtle: #3b4252;
    --text-light: #eceff4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--text-dark);
    background-color: var(--bg-color);
    text-align: center;
    padding: 20px;
}

button {
    background-color: var(--clickable-color);
    border: none;
    color: var(--text-light);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--clickable-color-hover);
}