@import "navigation.css";

:root {
    --component-color: #eceff4;
    --bg-color: #d8dee9;
    --clickable-color: #5e81ac;
    --clickable-color-hover: #81a1c1;
    --text-dark: #2e3440;
    --text-subtle: #4c566a;
    --text-light: #eceff4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--clickable-color);
}

a:hover {
    color: var(--clickable-color-hover);
}

body {
    color: var(--text-dark);
    background-color: var(--bg-color);
    text-align: center;
    padding: 20px;
}

button {
    background-color: var(--clickable-color);
    border: none;
    color: var(--text-light);
    border-radius: 5px;
    padding: 0px 20px;
    margin: 10px 5px;
    height: 36px;
    font-size: 16px;
    cursor: pointer;
    line-height: auto;
}

button:hover {
    background-color: var(--clickable-color-hover);
}

.container {
    background-color: var(--component-color);
    color: var(--text-dark);
    padding: 20px 5%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flex-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credentials-form {
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    text-align: left;
    margin: 10px 0;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    /* height: 36px; */
    border: 1px solid var(--text-subtle);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.input-container textarea {
    width: 100%;
    /* height: 36px; */
    border: 1px solid var(--text-subtle);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.subtle {
    color: var(--text-subtle);
}

.right-align {
    margin-left: auto;
    margin-top: 5px;
}