.product-card-lg {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--component-color);
    padding: 20px 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-card-lg img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-card-sm {
    width: 300px;
    margin: 0 auto;
    background-color: var(--component-color);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 470px;
}

.product-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-sales-info {
    align-items: center;
}

.product-title {
    margin: 10px 0;
    text-align: left;
}

.product-title h1 {
    font-size: 24px;
    font-weight: 600;
}

.product-title h2 {
    width: 250px;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-id {
    font-size: 14px;
    color: var(--text-subtle);
}

.quantity-available {
    font-size: 14px;
    color: var(--text-subtle);
}

.product-description-sm {
    height: 50px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.product-price {
    font-size: 18px;
    color: #007BFF;
}

.quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.quantity-selector div {
    margin-right: 30px;
}

.quantity-selector label {
    margin: 0 10px;
}

.quantity-selector input {
    width: 40px;
    text-align: center;
}

.product-view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: o auto;
    flex-wrap: wrap;
}