<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/global.css" />
        <link rel="stylesheet" type="text/css" href="css/product.css" />
        <link rel="stylesheet" type="text/css" href="css/view-products.css" />
        <title>Doohickies and Widgets</title>
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main>
            <navmenu></navmenu>
            
            <div class="container">
                <h1>Products</h1>
            
                <div id="categories">
                    <button @click.prevent="getProducts()">All</button>
                    <button v-for="category in categories" @click.prevent="filterByCategory(category)">{{category}}</button>
                </div>
                
                <div class="product-view">
                    <div class="product-card-sm" v-for="product in products">
                        <div class="product-top-row">
                            <div class="product-title">
                                <h2>{{product.name}}</h2>
                                <p class="product-id">{{product.productId}}</p>
                            </div>
                        </div>
                        <div class="product-description-sm">{{product.description}}</div>
                        <div class="quantity-selector">
                            <div class="product-sales-info">
                                <p class="product-price">{{formatCurrency(product.listPrice)}}</p>
                                <p class="quantity-available">{{formatNumber(product.quantityInStock, 0)}} Available</p>
                            </div>
                            <button @click.prevent="buyProduct(product)">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script type="module" src="js/view-products.js"></script>
    </body>
</html>
